* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: gainsboro;
}

.main-headline {
	text-align: center;
}

h1 {
	margin: .5em 0 .25em;
}

h4 {
	margin-bottom: .25em;
}

h5 {
	margin-top: 0;
}

.select {
	text-align: center;
}

#season-select {
	font-size: 1em;
}

#product-div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-card {
	flex-basis: 30%;
	background-color: ghostwhite;
	margin-top: 1em;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
	padding: 1em;

}

.red {
	color: red;
}

.hidden {
	display: none;
}